body {
  background-color: #fff !important;
}

.background-bre {
  background-color: #fff;
  margin-bottom: 50px;
}

.breadcrumb {
  background-color: transparent;
  padding: 20px 0px 0px 0px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

.min-height-0 {
  min-height: 0px !important;
}

.breadcrumb li a {
  font-size: 14px;
  color: #8b8a89;
}

.coming-soon h1 {
  padding-top: 150px;
  font-size: 40px;
  font-weight: 600;
}

.coming-soon h3 {
  color: #1e1d1c;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
}

.main-menu a {
  color: #222222;
  display: block;
}

.av-app-store {
  float: left;
  margin-right: 20px;
}

.app-store-link-block {
  margin-top: 40px;
  background-color: transparent;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.coming-soon img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.blue-block {
  width: 60px;
  height: 5px;
  margin-bottom: 20px;
  background-color: #fbb53b;
}

.background-img-footer-coming {
  background-image: url(../images/comingsoon-background.png);
  width: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-login {
  background-color: #fbb53b;
  color: #fff !important;        /*border-color: #fbb53b;*/
}

.btn-login:hover {
  background-color: #eca120;
  border-color: #fbb53b;
}

.avatar-menu {
  display: inline-block;
}

.user-menu {
  font-size: 13px;
  color: #fbb53b;
}

.info-title {
  color: #fbba48 !important;
  font-size: 21px !important;
}

.account-bar {
  background-color: #fff6e5;
}

.account-bar, .account-content {
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  overflow: hidden;
}

.account-bar li a {
  color: #161615;
  display: block;
  font-size: 16px;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: #f5a519;
  border-color: #f9ac26;
}

.account-bar li a {
  font-weight: 500;
  padding: 15px 30px;
}

.account-title {
  margin-bottom: 40px;
  padding-top: 15px;
}

.account-content .account-title {
  font-size: 18px;
  color: #fbba48;    /*font-weight: 600;*/
}

.sub-menu-sidebar li.active a {
  color: #fbba48 !important;
  background-color: transparent !important;
}

.account-bar li.active >a {
  background-color: #fbba48;
  color: #fff;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.account-bar  li > a:hover {
  color: #fbba48;
}

.account-bar  li.active > a:hover {
  color: #ffeccb;
}

.account-bar .menu-item {
  padding-left: 18px;
}

.account-bar .menu-item a {
  font-size: 14px;
  color: #777776;
}

.account-content .pagination {
  margin-top: 10px;
}

.account-bar li {
  list-style: none;
}

.img-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%
}

.size-icon {
  font-size: 15px;
  padding-right: 10px;
  color: #fbb53b;
}

.navbar-login {
  width: 350px;
  padding: 10px;
  padding-bottom: 0px;
}

.search-icon input[placeholder] {
  font-style: italic;
}

.search-icon input::-webkit-input-placeholder {
  color: #ababab !important;
}

footer .background-img-footer-coming .frame {
  min-height: 450px;
  padding-bottom: 0;
  padding-top: 220px;
}

.breadcrumb >.active {
  color: #fbb53b;
}

.breadcrumb .ico_home {
  width: 18px;
}

.breadcrumb > li + li:before {
  color: #8b8a89;
  content: "|";
  padding: 0 10px;
}

.breadcrumb-line {
  border-bottom: 1px solid #fbb53b;
}

.bootcol {
  margin: 0;
  box-sizing: border-box;
  padding: 5px;
}

h1 {
  font-size: 36px;
  color: #fbb53b;
  padding-top: 0px;
  font-family: Pacifico;
  margin-top: 0px;
}

.background-white {
  background-color: #fff;
  padding-left: 0px;
  display: inline-flex;
  padding-right: 0px;
  box-shadow: 0 2px 13px 0 rgba(247, 226, 201, 0.95);
}

.form-login {
  background-color: #fff;
  border-top: 4px solid #fcd69d;
  width: 100%;
  margin-bottom: 40px;
}

.upload-file {
  display: inline-flex;
}

.margin-b40 {
  margin-bottom: 40px;
}

.padding-tb20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.file-input-wrapper {
  padding-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.file-input-wrapper > input[type="file"] {

  /*font-size: 200px;*/
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.file-input-wrapper > .btn-file-input {
  display: inline-block;
  color: #fbb53b;
  background-color: #ffeccb;
  border: none;
  float: right;
}

.global-menu-root .global-menu-button {
  margin: 5px 0 0;
}

nav .navbar-nav li a {
  margin-right: 10px;
}

.padding-t40 {
  padding-top: 40px !important;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dly-button-root {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.global-menu-label {
  padding: 0 0 0 12px;
  display: block;
}

.dly-button-root> .dly-button-content, .dly-button-root.dly-flat > .dly-button-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dly-button-root > .dly-button-content {
  border-radius: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.4em;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.global-menu-image {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 4px solid #feefd9;
}

.global-menu-root .global-menu-button .global-menu-label {
  padding: 0 0 0 12px;
  display: block;
}

.text-form {
  font-size: 13px;
  color: #a59477;
  font-weight: 600;
  letter-spacing: 1.5px;
}

::-webkit-input-placeholder {

  /* Chrome/Opera/Safari */
  color: pink;
}

::-moz-placeholder {

  /* Firefox 19+ */
  color: pink;
}

:-ms-input-placeholder {

  /* IE 10+ */
  color: pink;
}

:-moz-placeholder {

  /* Firefox 18- */
  color: pink;
}

input::placeholder {
  color: red;
}

.resetmargin-l-r {
  margin-right: 0px;
  margin-left: 0px;
}

.login {
  padding-left: 0px;
}

.margin-b70 {
  margin-bottom: 70px;
}

h2 {
  font-size: 14px;
  line-height: 1.6;
  color: #161615;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 0px;
  padding-bottom: 30px;
}

.blog h3 {
  color: #201c1c;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 20px;
}

.btngray {
  background-color: #bab5ac !important;
}

.btngray:hover {
  background-color: #a5a098 !important;
}

.blog p {
  font-size: 13px;
  color: #838383;
}

.thumnail-blog img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.blog a {
  color: #201c1c;
  font-weight: 500px;
}

.blog a:hover {
  color: #fbb53b;
}

.blog-panel {
  margin-bottom: 30px;
}

.campaign-tabs .tabs {
  display: none;
}

.campaign-tabs .active {
  display: block;
}

.c-hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: 80px;
  overflow: hidden;
  margin: 1px 0 0 0;
  padding: 0;
  width: 38px;
  height: 38px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  right: 10px;
  height: 1px;
  background: #000;
}

.c-hamburger span::before, .c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: initial;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before, .c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

.c-hamburger--htx.is-active {
  background-color: initial;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before, .c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.site-header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .1);
}

.site-header .container {
  position: relative;
}

.site-header .site-brand {
  float: left;
  line-height: 80px;
}

.site-header .right-header {
  float: right;
}

.form-info-account .control-label {
  font-size: 13px;
  font-weight: 500;
}

.form-info-account input {
  background-color: #fffaf1;
  border: 1px solid #fbb53b;
  height: 40px;
  border-radius: 0px;
  box-shadow: none;
}

.form-info-account img {
  width: 100px;
  height: 100px;
}

.form-info-account  .file-input-wrapper {
  display: flex;
  margin-top: 20px;
}

.form-info-account .btn-update {
  background-color: #fbb53b;
  font-size: 14px;
  letter-spacing: 4px;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 14px 38px 14px 38px;
}

.form-info-account .btn-update:hover {
  background-color: #fdaa19;
}

.sidebar-nav {
  list-style: none;
}

.sub-menu-sidebar {
  padding: 0;
  display: none;
  list-style: none;
}

.sidebar-nav li.active ul {
  display: block;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #ffe5b6;
  opacity: 1;
}

.site-header .login .btn-primary {
  height: 38px;
  line-height: 38px;
}

.site-header .login, .site-header .search-icon, .site-header .main-menu {
  display: inline-block;
  margin-left: 25px;
  line-height: 80px;
}

.site-header .login a {
  display: inline-block;
}

.site-header .search-icon a {
  font-size: 22px;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.search-icon .fa {
  font-size: 26px;
  color: #515151;
}

.search-icon .fa:hover {
  color: #f8b042;
}

.form-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
}

.search-icon form {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  max-width: 960px;
  margin: 0 auto;
  line-height: 60px;
  border-radius: 3px;
  overflow: hidden;
  z-index: 9999;
  display: none;
  padding: 0 15px;
}

.search-icon form input {
  width: 100%;
  padding: 0 73px 0 15px;
  line-height: 60px;
  border: 0;
  border-radius: 3px;
  overflow: hidden;
}

.search-icon form button {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  border: 0;
  background-color: #fff;
  padding: 0 20px;
  border-radius: 3px;
  overflow: hidden;
}

.search-icon form button span {
  font-size: 24px;
  vertical-align: -6px;
}

.main-menu ul li {
  list-style: none;
  display: inline-block;
  letter-spacing: normal;
  margin-left: 35px;
  position: relative;    /*color: #777;*/

  /*text-transform: uppercase;*/
  font-weight: 600;
}

.main-menu ul li i {

  /*display: none;*/
}

.main-menu ul li > .sub-menu {
  position: absolute;
  top: 100px;
  z-index: 99;
  width: 200px;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
}

.main-menu ul li:hover > .sub-menu {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.main-menu ul li > .sub-menu li {
  line-height: normal;
  display: block;
  margin: 0;
  border-top: 1px solid #ededed;
}

.main-menu ul li > .sub-menu li a {
  padding: 12px 15px;
  font-size: 14px;
  font-weight: 500;
}

.main-menu ul li a {
  color: #3d3a35;
}

.main-menu ul li:hover > a {
  color: #fbb53b;
}

.date-blog {
  display: inline;
}

.date-blog span {
  border-bottom: 2px solid #f8b042;
  letter-spacing: 3px;
}

.content-blog-detail {
  margin-top: 40px;
  color: #474747;
  font-weight: 500;
  letter-spacing: 1px;
}

.img-blog-detail {
  display: block;
  margin: 0 auto;
}

.recipe-desciption-detail p {
  border-left: 2px solid #fbb53b;
  padding-left: 30px;
  color: #514d4b;
  font-size: 15px;
  font-weight: 400;
}

.recipe-desciption-detail {
  display: -webkit-inline-box;
}

.reset-padding-recipe {
  padding-top: 0 !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/*.margin-t30{
margin-top: 30px;
}*/

/*.ico_width30{
width: 30px;
}*/
.top h1.title-recipe {
  font-size: 36px;
  color: #fbb53b;
  font-family: Pacifico;
  margin-top: 0px;
}

.bt-menu-control-sticky {
  z-index: 999999;
}

.detail-recipe-content h4 {
  color: #474747;
  font-weight: 600;    /*border-bottom: 2px solid #fbb53b;*/
  display: table-cell;
  margin-bottom: 20px;
}

.detail-recipe-content .material-table span {
  color: #474747;
}

.form-login p {
  font-size: 13px;
}

.detail-recipe-content ol li span {
  position: relative;
  left: 10px;
  font-weight: 450;
}

.form-login .btn-login {
  background-color: #fbb53b;
  font-size: 14px;
  letter-spacing: 4px;
  color: #fff;
  border: none;
  font-weight: 500;
  max-width: 260px;
  padding: 14px 38px 14px 38px;
}

.form-login .btn-login:hover {
  color: #3e3c3c;
}

.detail-recipe-content ol li {
  padding-bottom: 10px;
}

.add-boder {
  border-bottom: 2px solid #fbb53b
}

.material-table-detail {
  border-bottom: 1px solid #ffe6c1;
  padding-bottom: 10px;
  padding-top: 10px;
}

.material-table {
  border-radius: 10px;
  padding: 15px 20px 30px 20px;
}

.detail-recipe-content {
  color: #474747;
}

.detail-recipe-content ol {
  -webkit-padding-start: 15px;
}

.padding-b30 {
  padding-bottom: 30px;
}

.ico_width30 {
  display: none;
}

.margin-b30 {
  margin-bottom: 30px;
}

.margin-t30 {
  margin-top: 30px;
}

.margin-l35 {
  margin-left: 35px;
}

.padding-t30 {
  padding-top: 30px;
}

.padding-l35 {
  padding-left: 35px;
}

.margin-b20 {
  margin-bottom: 20px;
}

.form-login h4 {
  font-size: 24px !important;
  color: #f8b042 !important;
  font-weight: 700 !important;
  display: block;
}

.btn-social-icon>:first-child, .btn-social>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, .2);
  height: 39px;
  padding-top: 3px;
}

.form-login form .form-group {
  float: center;
}

.form-login .btn-social, .form-login .btn-social-icon, .login-form .btn-social, .login-form .btn-social-icon {
  text-align: center;
}

.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}

.fa, .fa-stack {
  display: inline-block;
}

/*.form-login .user-name-login-google span, .login-form .user-name-login-google span {
display: block;
padding-left: 32px;
text-align: center;
color: #fff!important;
font-weight: 300;
line-height: 28px;
}*/
.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, .2);
}

.form-login-2 {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.btn-social, .btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 10px;
  padding-bottom: 10px;
}

textarea.form-control {
  height: auto;
  background-color: #fffaf1;
  border: 1px solid #fbb53b;    /* height: 40px; */
  border-radius: 0px;
  box-shadow: none;
}

.form-login .form-control {
  background-color: #fffaf1;
  border: 1px solid #fbb53b;
  height: 40px;
  border-radius: 0px;
  box-shadow: none;
}

.border-radius-img {
  border-radius: 10px;
}

.video-list-title {
  text-shadow: 1px 1px 4px rgba(8, 8, 8, 0.9);
  position: absolute;
  bottom: 0;
  left: 0;
  line-height: 1.3;
  width: 100%;
  height: 60px;
  padding: 0 16px 16px;
  -o-object-fit: contain;
  object-fit: contain;
 /* background-image: -webkit-linear-gradient(top, rgba(238, 238, 238, 0), rgba(0, 0, 0, 0.5));
  background-image: linear-gradient(to bottom, rgba(238, 238, 238, 0), rgba(0, 0, 0, 0.5));*/
  z-index: 10;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-login .input-container {
  width: 650px;
  max-width: 100%;
  margin: 20px auto 25px auto;
}

.form-login .styled-input.wide {
  width: 650px;
  max-width: 100%;
}

.form-login .btn-success {
  padding: 15px 60px;
  border-radius: 0px;
  background-color: #fbb53b;
  border-color: transparent;
}

.contact-form .btn-success:hover {
  background-color: #e79300;
  border-color: transparent;
}

.contact-form {
}

::-webkit-input-placeholder {
  font-size: 12px;
  color: #000;
  font-family: Montserrat;
  font-weight: 300;
}

:-ms-input-placeholder {
  font-size: 13px;
  color: #a59477;
  font-family: Montserrat;
}

.background-header-banner {
  min-height: 450px;
  background-color: #faefdd;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fbb538;
}

.background-header-banner .slider {
  width: 100%;
  margin: 0px auto;
}

.background-header-banner .slick-prev:before, .background-header-banner   .slick-next:before {
  font-size: 30px;
}

.background-header-banner .slick-list {
  padding-bottom: 75px;
}

.background-header-banner .slick-dots {
  margin: 13px;
}

.background-header-banner .slick-track {
  top: 50px;
}

.background-header-banner .slick-active {
  opacity: 1;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, .2);
}

.padding-tb15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-facebook:hover, .btn-google:hover {
  color: #fff;
}

.btn-facebook:hover {
  background-color: #334e86;
}

.btn-google:hover {
  background-color: #d0452e;
}

#vid {
  width: 400px;
  height: 400px;
  padding-top: 30px;
}

.background-video-recipe {
  border-radius: 10px;
  margin-bottom: 60px;
}

.padding-r100 {
  padding-right: 115px;
}

.font-size12 {
  font-size: 12px;
}

.modal {
  position: fixed;
  top: 3%;
  right: 3%;
  left: 3%;
  width: auto;
  margin: 0;
}

.font-size-50 {
  font-size: 50px !important;
}

.modal-content {
  border-top: 5px solid #fbbc52;
  border-radius: 5px;
}

.modal-content h1 {
  font-family: Montserrat;
  color: #1e1e1e;
  font-size: 30px;
  font-weight: 700;
}

.margin-b40 {
  margin-bottom: 40px;
}

.modal-content span {
  font-family: Pacifico;
  color: #fbbc51;
  font-weight: 500;
  font-size: 35px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.modal-content h4 {
  color: #6e6e6e;
  font-size: 16px;
  text-transform: none;
  font-weight: 500;
  line-height: 1.5;
}

button.close {
  color: #1e1e1e;
  font-size: 37px;
  font-weight: 700;
  padding: 0 17px 0px 0px;
  background: none;
  position: relative;
  outline: none;
}

button.close:hover {
  color: #fbbc52;
}

.padding-l40 {
  padding-left: 40px;
}

.padding-r20 {
  padding-right: 20px;
}

.padding-l20 {
  padding-left: 20px;
}

.padding-l20 {
  padding-left: 20x;
}

.padding-l15 {
  padding-left: 15px;
}

.padding-t15 {
  padding-top: 15px;
}

.modal-dialog {
  max-width: 970px;
  width: 100%;
}

.width-165 {
  width: 165px;
}

.margin-t60 {
  margin-top: 60px;
}

.margin-b60 {
  margin-bottom: 60px;
}

.margin-t40 {
  margin-top: 40px !important;
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: 700;
}

.margin {
}

.content-video-recipe ul li {
  list-style-type: none;
  color: #f8b042;
}

.content-video-recipe ul li span {
  color: #474747;
}

.color-orange {
  color: #fbb53b
}

.coming-soon h1 {
  font-weight: 500;
}

.font-bold {
  font-weight: 500;
}

.padding-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.block-display {
  display: inline-flex;
}

.follow-us-coming {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  color: #3e3c3c;
  font-weight: bolder;
}

.bg-footer {
  background-color: #fbba48;
}

.hr-footer {
  border-top: 1px solid #ffd58a;
}

.text-black-color {
  color: #3e3c3c !important;
}

.follow-us {
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer-bottom .list-group .list-group-item a:hover {
  color: #fff;
}

.text-white-color {
  color: #fff !important;
}

.font-montser {
  font-family: "Montserrat" !important;
}

.logo-contact {
  text-transform: unset;
  font-size: 24px;
  font-weight: 400;
}

.section_contact__info {
  margin-bottom: 2rem;
  padding: 0 0rem;
}

.margin-b0 {
  margin-bottom: 0px !important;
}

.search-form {
  position: relative;
  padding-right: 40px;
  border: 1px solid #e5e5e5;
  background: #fff;
  border-radius: 0;
}

.live-search-on.active .list-product-search {
  opacity: 1;
  visibility: visible;
  margin-top: 2px;
}

.search-form input[type="submit"], .search-form::after {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 0;
  top: 0;
  right: 0;
  border: none;
  background: transparent;
  z-index: 9;
  line-height: 40px;
  text-align: center;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

ul.top-link li.account {
  display: block !important;
}

/*ul.top-link li.account:before {
content: "007";
font-family: FontAwesome;
font-size: 12px;
padding-right: 5px;
color: #fbb538;
}*/
ul.top-link li a {
  font-size: 13px;
  color: #24262f;
  line-height: 44px;
  v
  display: inline-block;
}

ul.top-link li {
  display: inline-block;
  position: relative;
  list-style: outside none none;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 12px;
}

ul.top-link {
  list-style: none;
  display: inline-flex;
  margin: 0px;
  padding: 0px;
}

.search-bar {
  margin-left: 100px;
  margin-right: auto;
  max-width: 400px;
  width: 380px;
}

.search-bar.right-side-icon .search-icon {
  position: absolute;
  left: 14px;
  top: 2px;
}

.search-bar .form-group {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  position: relative;
}

.d-sm-block {
  display: block !important;
}

.search-bar.right-side-icon {
  padding-right: 16px;
  padding-left: 50px;
}

.search-bar.right-side-icon .form-control {
  box-shadow: none;
}

.search-bar .fa-search {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%;
}

.search-repons {
  position: relative;
  margin-bottom: 15px;
}

.black-color {
  color: #333
}

.video-recipe p, .video-recipe span, .video-recipe  .material-table-detail {
  font-size: 15px;
  font-weight: 450;
  color: #474747;
}

.favorite {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.favorite a {
  color: #303030;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  min-height: 38px;
}

}

.padding-t10 {
padding-top: 10px;
}

.social-icons a:hover {
color: #fff;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, textarea:focus {
border-color: #fbb538 !important;
box-shadow: inset 0 1px 1px rgba(255, 215, 115, 1), 0 0 8px rgba(255, 215, 115, 1) !important;
}

.copyright p span a:hover {
color: #c57e00 !important;
}

.search-input {
outline: none;
line-height: 1;
min-width: 17rem;
border: none;
height: 35px;
border-radius: 30px;    /* border: 1px solid #fbb53b; */
background-color: #f6f5f5;
}

.margin-b10 {
margin-bottom: 10px;
}

.padding-b15 {
padding-bottom: 15px;
}

.btn-user-recipe {
padding: 5px 7px;
}

.font-s20 {
font-size: 20px;
}

ol {
padding-left: 0.5em;
}

ol li {
list-style-type: decimal; /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
list-style-position: outside; /* or 'inside' */
margin-left: 1em; /* gives 'room' for the numbers to appear in */
}

.btn-user-recipe {
color: #474747;
font-weight: 450;
}

.margin-t20 {
margin-top: 20px;
}

.user-name-loginfb span, .user-name-login-google span {
color: #fff;
}

.page404 h3 {
color: #5e5d5d;
font-size: 45px;
font-weight: 400;
}

.page404 h1 {
font-size: 45px;
font-family: Montserrat;
font-weight: 420;
margin-bottom: 20px;
margin-top: 20px;
}

.page404 h4 {
font-size: 23px;
font-weight: 300;
color: #5e5d5d;
letter-spacing: 3px;
}

.btn-404 {
border: none;
padding: 10px 30px;
margin: 50px;
}

.page404 img {
display: block;
margin-left: auto;
margin-right: auto;
}

.search-desktop {
display: none !important;
}

.padding-t60 {
padding-top: 60px;
}

.btn-warning.focus, .btn-warning:focus {
background-color: #fff;
color: #333;
outline: 0;
border-color: #ec971f;
}

.padding-l20 {
padding-left: 20px;
}

.zindex2 {
z-index: 2;
}

.zindex1 {
z-index: 1;
}

.sub-menu-infouser .dropdown-backdrop {
display: none;
}
.dimension-logo{
  width: 140px;
}


.see_more:hover{
 
   cursor: pointer;

}
.see_more{

    font-size: 13px;
  user-select: none;

}
.description{
  overflow: hidden;
    height: 95px;
}

.new_recipe_for_you .content .info-recipe a.name-recipe, .topical_recipe .content .info-recipe a.name-recipe{
  display: block;
  height: 33px;
   overflow: hidden;
   line-height: 1.1;
}
.user-image{
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
}
.user-image img{
      position: absolute;
    top: 0px;
    left: 0px;
    width: 48px;
    height: 48px;
    display: block;
    z-index: 1;
    visibility: visible;
}
.cookfriend .content {
    display: inline-block;
    overflow: hidden;
    /* height: 95px; */
    font-size: 13px;
    line-height: 1.5;
    font-weight: 450;
    color: #474747;
}
.cookfriend .cont p{}
.cookfriend .row{
  flex-wrap: wrap;
    display: flex;
}
.user-display-name{
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date-publish-comment{
  padding-left: 60px;
  padding-bottom: 7px;
  padding-top: 7px;
    /* float: left; */
    font-size: 12px;
    color: #9d9d9d;
}
.info-user{
  padding-bottom: 15px;
}
.cookfriend .description{
      display: -webkit-inline-box;
    display: inline-block;

}
.cookfriend .description p{
  font-size: 13px;
}

.video-comment-list-info .display-name{
font-size: 14px;
    font-weight: bold;
    color: #262626;
}
.content-comment{
  padding-left: 50px;
  font-weight: 450;
    color: #474747;
    font-size: 13px;

}
.video-comment-list-content .video-comment-list-info {
    /*float: left;*/
    /*width: 552px;*/
    margin: 16px 0 16px 16px;
    }
.video-comment-list-info .published-date{
  font-size: 12px;
    color: #9d9d9d;
}
.video-comment-list-content .video-comment-user-picture{
      position: relative;
    float: left;
    width: 48px;
    height: 48px;
    display: block;
    margin-right: 16px;
}
.video-comment-list-content .video-comment-user-picture .comment-user-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
  }
  .modal-content .form-login-2 .user-name-login-google span,  .modal-content .form-login-2 .user-name-loginfb span{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  }
  .modal-content .form-login{
    border-top: none;
  }
  #myModalLogin .modal-dialog {
        max-width: 650px;
  }
.video-comment-list-content.child{
  margin-left: 40px;
    width: calc(100% - 40px);
}

.btn-warning :hover .fa{
    color: #fff;

}
#myModalLogin .background-white{
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
@media (max-width:576px) {
.container {
  max-width: 540px;
}

.ico_width30 {
  display: none;
}

.padding-r100 {
  padding-right: 0px;
}

.btn-app-store {
  text-align: center;
}

.background-img-footer-coming {
  background-image: none;
  display: none;
}

.footer .background-img-footer-b2 {
  background-image: none;
}

.margin-t70 {
  margin-top: 30px;
}

.background-header-banner {
  display: none;
}

.app-store-link-block-footer {
  margin-top: 20px;
  margin-bottom: 40px;
}

footer .background-img-footer-coming .frame {
  min-height: 0px;
  padding-bottom: 0;
  padding-top: 90px;
}

.coming-soon h1 {
  padding-top: 80px;
}

#vid {
  width: 100%;
  height: 300px;
  padding-top: 0px;
}

.background-video-recipe h1 {
  padding-top: 0px;
  padding-left: 0px;
}

.background-video-recipe {
  border-radius: 0px;
  margin-bottom: 20px;
}

.av-app-store {
  float: none;
  margin-right: 16px;
}

.img-login {
  display: none;
}

.search-repons {
  display: inline-block;
  width: 100%;
}

.c-hamburger {
  right: 20px !important;
}

.main-menu ul {
  top: 95px !important;
}

.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
  min-height: 58px !important;
}

.info-recipe .description {
  display: none;
}

.background-video-recipe h1 {
  font-size: 20px;
}



.main-menu ul {
top: 95px !important;
}

.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
min-height: 175px;
}

.background-video-recipe h1 {
font-size: 20px;
}

.page404 h1 {
font-size: 30px;
}

.page404 h4 {
font-size: 16px;
}

.new_recipe_for_you .content .info-recipe a.name-recipe, .topical_recipe .content .info-recipe a.name-recipe {
font-size: 14px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
}

.textstyle {
float: left;
}

.footer .background-img-footer-b1 {
background-image: url(../images/banner-play-mobile.jpg);
}
.dimension-logo-h{
  width: 110px;
}
.search-input+.btn{
  height: 100%;
}
.site-header .site-brand
{
  line-height: 50px;
}
.search-repons{
      margin-bottom: 10px;
}
.c-hamburger{
  top:5px;
}
.icon-appstore img{
  width:150px; 
}
.modal-dialog {
    
    margin: 0px;
}

}

@media (min-width:576px) {
.container {
max-width: 540px;
}

.coming-soon h1 {
padding-top: 80px;
}

.margin-t70 {
margin-top: 30px;
}

.background-header-banner {
display: none;
}

.app-store-link-block-footer {
margin-top: 20px;
margin-bottom: 40px;
}

.btn-app-store {
text-align: center;
}

.background-img-footer-coming {
background-image: none;
display: none;
}

footer .background-img-footer-coming .frame {
min-height: 0px;
padding-bottom: 0;
padding-top: 90px;
}

.ico_width30 {
width: 30px;
}

.background-video-recipe h1 {
padding-top: 0px;
padding-left: 0px;
}

.padding-r100 {
padding-right: 0px;
}

.recipe-desciption-detail p {
margin-left: 0px;
}

.background-video-recipe {
border-radius: 0px;
margin-bottom: 20px;
}

.av-app-store {
float: none;
}

#vid {
width: 450px;
height: 450px;
padding-top: 0px;
}

.search-repons {
display: inline-block;
width: 100%;
}

.search-desktop {
display: none !important;
}

.c-hamburger {
right: 20px !important;
}

.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
min-height: 160px;
}

.img-login {
display: none;
}

.background-video-recipe h1 {
font-size: 20px;
}

.textstyle {
float: left;
}

.footer .background-img-footer-b1 {
background-image: url(../images/banner-play-mobile.jpg);
}
.site-header .site-brand
{
  line-height: 80px;
}
.search-repons{
      margin-bottom: 15px;
}
.dimension-logo-h{
  width: 130px;
}
.main-menu ul{
  top: 130px !important;
}
.user-display-name{
  width: 136px;

}
.video-comment-list-content.child{
  margin-left: 56px;
    width: calc(100% - 56px);
}
}

@media (min-width:768px) {
.container {
max-width: 720px;
}

.ico_width30 {
display: none;
}

.margin-t70 {
margin-top: 30px;
}

.background-header-banner {
min-height: 383px;
display: block;
}

.app-store-link-block-footer {
margin-top: 20px;
margin-bottom: 00px;
}

.background-header-banner {
display: none;
}

.btn-app-store {
text-align: center;
}

.av-app-store {
float: none;
margin-right: 10px;
}

footer .background-img-footer-coming .frame {
min-height: 450px;
padding-bottom: 0;
padding-top: 220px;
}

.background-img-footer-coming {
background-image: url(../images/comingsoon-background.png);
}

.background-img-footer-coming {
display: -webkit-inline-box;
}

.coming-soon h1 {
padding-top: 80px;
}

.img-login {
display: block;
width: 50%;
}

.background-video-recipe {
border-radius: 0px;
margin-bottom: 20px;
}

.padding-r100 {
padding-right: 0px;
}

.recipe-desciption-detail p {
margin-left: 0px;
}

.background-video-recipe h1 {
padding-top: 0px;
padding-left: 0px;
}

#vid {
width: 500px;
height: 500px;
padding-top: 0px;
}

.search-repons {
display: inline-block;
right: 70px;
float: right;
min-width: 20rem;
width: 60%;
}

.search-desktop {
display: none !important;
}

.c-hamburger {
right: 20px !important;
}

.background-video-recipe h1 {
font-size: 28px;
}

.main-menu ul {
top: 80px !important;
}

.textstyle {
text-align: center;
}

.footer .background-img-footer-b1 {
background-image: url(../images/banner-play.png);
}
.search-input+.btn{
  height: 100%;
}
.icon-appstore img{
  width:auto; 
}
.user-display-name{
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0px;
}


}
@media (min-width: 768px) and (max-width: 992px) {
  .client .item.col-sm-6:nth-child(2n+1) {
     clear: both;
    display: block;
    width: 0px;
    height: 0px;
  }
}
@media (min-width:992px) {


.container {
max-width: 960px;
}

.img-login {
display: block;
width: 50%;
}

.margin-t70 {
margin-top: 70px;
}

.background-header-banner {
min-height: 383px;
display: block;
}

.btn-app-store {
text-align: unset;
}

.background-img-footer-coming {
display: -webkit-inline-box;
}

.coming-soon h1 {
padding-top: 150px;
}

footer .background-img-footer-coming .frame {
min-height: 450px;
padding-bottom: 0;
padding-top: 220px;
}

.background-img-footer-coming {
background-image: url(../images/comingsoon-background.png);
}

.background-video-recipe h1 {
padding-left: 30px;
}

.recipe-desciption-detail p {
margin-left: 30px;
}

#vid {
width: 530px;
height: 530px;
padding-top: 30px;
}

.background-video-recipe {
border-radius: 10px;
margin-bottom: 60px;
}

.padding-r100 {
padding-right: 115px;
}

.search-input {
min-width: 13rem;
}

.search-repons {
display: none;
}

.search-desktop {
display: inline-block !important;
}

.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
min-height: 175px;
}

.main-menu ul li > .sub-menu {
box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}

.background-video-recipe h1 {
font-size: 32px;
}

.textstyle {
text-align: center;
}
.dimension-logo-h{
  width: 140px;
}
.top .img {
    display: block;
        max-width: 100%;
    height: auto;
}
.client .col-md-4:nth-child(3n+1) {
    clear: both;
    display: block;
    width: 0px;
    height: 0px;
    }
}

@media (min-width:1200px) {
.container {
max-width: 1170px;
}

.coming-soon h1 {
padding-top: 150px;
}

.btn-app-store {
text-align: unset;
}

.background-img-footer-coming {
background-image: url(../images/comingsoon-background.png);
}

.form-info-account {
width: 50%;
}

.makerecipe {
width: 100% !important;
}

.margin-t70 {
margin-top: 70px;
}

.background-img-footer-coming {
display: -webkit-inline-box;
}

footer .background-img-footer-coming .frame {
min-height: 450px;
padding-bottom: 0;
padding-top: 220px;
}

.background-video-recipe {
border-radius: 10px;
margin-bottom: 35px;
}

.img-login {
display: block;
}

.ico_width30 {
width: 30px;
display: block;
}

.padding-r100 {
padding-right: 115px;
}

.recipe-desciption-detail p {
margin-left: 30px;
}

#vid {
width: 530px;
height: 530px;
padding-top: 30px;
}

.background-video-recipe {
border-radius: 10px;
margin-bottom: 35px;
}

.search-input {
min-width: 20rem;
}

.search-repons {
display: none;
}

.search-desktop {
display: inline-block !important;
}

.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
min-height: 160px;
}

.main-menu ul li > .sub-menu {
box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.05), 0 2px 14px 0 rgba(0, 0, 0, 0.06);
}
.client .col-md-4:nth-child(3n+1) {
    clear: both;
    display: block;
    width: 0px;
    height: 0px;
    }

}


/**
 * dung add
 */
.client h1{
      margin-bottom: 30px;
}
.client .info-recipe a.name-recipe{
  display: block;
      height: 42px;
   overflow: hidden;
   line-height: 1.1;
   color: #303030;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1.5px;
    margin-top: 20px;
}
.client .item{
  margin-bottom: 30px;
}
.client .description{
height: auto;
}
.client .description p{
      overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}




/**
 * Su add
 */
.sb__suggestions ul li {
margin-left: 0px !important;
display: block;
}

.sb-icon {
top: 13px;
right: 13px;
position: absolute;
color: #9b9b9b;
}

.sb-icon.clr {
top: 10px;
right: 35px;
cursor: pointer;
}

.has-inverse-color {
color: #0b1a33 !important;
}

.des_nav {
max-height: 105px;
overflow: hidden;
}
.container .top h1.title{
  font-size: 35px;
}
.col-md-3 .top .video-feature-content{
    margin-bottom: 20px;
    width: 100%;
    /*text-align: center;*/
}
.col-md-3 .top .video-feature-content .image{
  text-align: center;
}
.col-md-3 .top .video-feature-content .image .img-responsive{
  display: inline-block;
}
.col-md-3 .top .video-feature-content .video-feature-info .title{
    margin: 8px 0;
    line-height: 1.3;
    font-weight: 600;
    max-height: 40px;
    overflow: hidden;
}
.col-md-3 .top .video-feature-content .video-feature-info .title a{
  color: #303030;
  font-size: 15px;
}
.col-md-3 .top .video-feature-content .video-feature-info .title a:hover{
  text-decoration: underline;
}
.col-md-3 .top .video-feature-content .video-feature-info .description{
    color: #5e5e5e;
    font-size: 13px;
    margin: 8px 0;
    line-height: 1.3;
    height: 32px;
    overflow: hidden;
}
.col-md-3 .top a.seemore{
  color: #fbb53b;
}





