.background-bre{
        background-color:#fff6e5;
        margin-bottom: 80px;
        background-color: #fff6e5;

}
.breadcrumb {
    background-color: transparent;
    padding: 20px 0px 0px 0px;
    
    
}
.breadcrumb li a{
    font-size: 14px;
    color: #8b8a89;

}
.breadcrumb >.active {
   color: #fbb53b;
}
.breadcrumb .ico_home{
    width: 18px;
}
.breadcrumb > li + li:before {
    color: #8b8a89;
    content: "|";
    padding: 0 10px;
}
.breadcrumb-line{
        border-bottom: 1px solid #fbb53b;
    
}

.background-contact{
    background-image: url(../images/contact_hello.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    height: 130px;
    background-color: #fbb53b;
}
.contact-hello{
    
    
    text-align: center; 
    margin-top: 20px;
}
.contact-title{
    font-family: Pacifico;
    font-size: 40px;
    color: #fff;

}
.contact-des{
    
    
    color: #000;
    letter-spacing: 4px;
    font-weight: 600;
}
.contact h1{
    text-transform: uppercase;
    font-size: 24px;
    color: #535252;
    font-weight: 700;
    text-align: center;
    margin: 20px 0px 35px 0px;

}
.contact h2{
    color: #fbb53b;
    font-family: Pacifico;
}



.contact-form .form-control{
    background-color: transparent;
    border:1px solid #fbb53b;
    height: 40px;
    border-radius: 0px;
    box-shadow: none;
}
.contact-form .form-group textarea {
  
  height: 150px;
}
.contact-form .input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
.contact-form .styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

.contact-form .btn-success{
    padding:15px 60px; 
    border-radius: 0px;
    background-color: #fbb53b;
    border-color: transparent;
}
.contact-form .btn-success:hover{
    background-color: #e79300;
    border-color: transparent;
}
.contact-form{
   
}
::-webkit-input-placeholder {
    font-size: 13px;
  color: #000;
  font-family: Montserrat;
}

:-ms-input-placeholder {
  
  font-size: 13px; 
  color: #a59477;
  font-family: Montserrat;
}

input {
  // Styling can be put here
}
.contact{
    margin-bottom:80px; 
        margin-top: 50px;
}
.phone-padding{
    padding-left: 0px;
}
.map-edit{
    height: 400px;
}
.contact_info{
    padding-bottom: 20px;
}
.section_contact__info {
    margin-bottom: 2rem;
    padding: 0 1rem;
}
.section_contact__info__item {
    margin-bottom: 1rem;
}
.section_contact__info__item {
    padding-top: 1rem;
    border-top: 1px solid #f0f0f0;
}
.section_contact__info__item a .email{
        text-decoration: none;
    background-color: transparent;
    color: #fbb53b;
}
.section_contact__info__item a{
        text-decoration: none;
    background-color: transparent;
    color: #777;
}
.section_contact__info__item h4{
    color:#535252; 
    font-weight: 600;
}
.section_contact__info__item a .email{
        text-decoration: none;
    background-color: transparent;
    color: #777;
}


@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
 

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
