  body{
      font: 400 15px Roboto, sans-serif;
      line-height: 1.8;
      color: #818181;
      background-color: #fffaf1;

    }

  h3{
    font-size: 36px;
    
    color: #fbb53b;
    padding-top: 80px;
    font-family: Pacifico;
    margin-top: 0px;


  }
  .reset_padding{
    margin-left:0;
    margin-right:0;
  }
  .background{

     width:100%;
     height: 100%
     background-position: top center;
     background-repeat: no-repeat;
  }

  h4{
    font-size: 14px;
    line-height: 1.6;
    color: #161615;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: MontserratMedium;
    
   
    padding-bottom: 30px;


  }
  .row-no-margin{
  margin-right: 0px !important;
  margin-left: 0px !important;
  }
  .second{
    margin-top:20px; 
  }
  .frist{
    padding-top: 25%;
  }
  .recipes{
    font-size: 14px;
    line-height: 1.6;
    color: #303030;
    letter-spacing: 1px;
    font-family: MontserratSemibold;
    
    font-weight: bold;
    padding-bottom: 30px;
    padding-bottom: 5px;
    padding-top: 22px;
    margin: 0px;
    font-size: 16px;
   
  }
  .hr-edit{
    margin: 0px;
    display: block;
          border-top: 1px solid #dfdfdf;
      padding: 0; 
  }
  .hr-left{
    margin-bottom: 30px !important;
        border-top: 1px solid #dfdfdf;
        background-color: transparent;
  }

  .description{
    font-size: 13px;
        line-height: 1.5;

  }
  a:hover{
    color: #fbb53b;
    text-decoration: none;
  }

  .no{
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .container{
    padding:0px;
  }

  .suggestion-section{
    margin-bottom: 15px;
  }
  .search::-webkit-input-placeholder { /* Chrome */
    color: #ababab;
    font-family: MontserratRegular;
  }
  .search:-ms-input-placeholder { /* IE 10+ */
    color: #ababab;
    font-family: MontserratRegular;
  }
  .search::-moz-placeholder { /* Firefox 19+ */
    color: #ababab;
    opacity: 1;
    font-family: MontserratRegular;
  }
  .search:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ababab;
    opacity: 1;
    font-family: MontserratRegular;
  }
  .navbar{
  background-color: #fff;
  border: 0;
  font-size: 14px !important;
  letter-spacing: 2px;
  font-family: MontserratBold;
  border-radius: 2;
  min-height: 90px;
  margin-bottom: 0;


  }
  .navbar li a{
    color: #5e5d5d !important;
    display:inline-block;   
  }
  .navbar-nav{
    margin-top: 15px ;
    
   }
   .navbar-nav li{
    margin-left: 10px ;
    margin-right: 3px ;
    
   }
   .navbar-nav li a{
        padding: 5px;
   }
  .navbar .navbar-brand{
    color: #5e5d5d !important;
  }
  /*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,.navbar  li a:hover{
    
    border-bottom:3px solid #fbb53b !important;
    background-color: #efeeee !important;
    
  }*/
  .navbar-default{
    background-color: #fff;
  }
  .navbar-right{
    padding-top: 8px; 
  }
   .form-inline{
    margin-top: 8px;
   }
  .form-control,.input-group-addon{
    background-color: #f6f5f5;
    border: none;
    height: 35px;
    box-shadow: none;
    font-family: MontserratRegular;
   
  }
  .form-control ::placeholder{
   
   font-size: 12px;
  }
  .icon{
    color: #fbb53b;
  }
  .btn .btn-seemore{
    margin-right: 5px;
    background-color: #fff;
    border: 1px solid #fbb53b; 
    
    font-family: MontserratRegular !important; 
  }
  .btn .btn-seemore:hover{
    
    background-color: #fbb53b;
    border: 1px solid #fbb53b; 
    color: #fff;
    
  }
  .btn-header{
    background-color: #fff;
    border: 1px solid #fbb53b;
    margin-right: 3px;
    color: #6c6c6c;
    font-size: 14px;
    font-family:MontserratRegular; 

  }
  .btn-header a{
    margin-left:5px;
    margin-right:5px;
  }
  .btn-header:hover{
    background-color:#fbb53b; 
    color: #fff;
  }
.search{
  
}
  .bg-white{
    background-color: #fff;
  }

  .banner  {
        
        
        height: auto;
        
    }
    
    .content{
      margin-top: 100px;
    }
    hr{
      margin-top: 0px;
      background-color: #d9d9d9;
    }
    .cate{
      padding-bottom: 40px;
      }
    .cate a{
      color: #1f1b1b;
      font-size: 14px;
      font-family: MontserratSemibold;
    text-transform: uppercase;
   
    }
    
    .img-suggestion{
          float: left;
          margin-right: 10px;
    }
    .suggestion{
      padding-top: 0px;
      padding-bottom: 0px;
      letter-spacing: 1;
      padding-bottom: 30px;
    
    padding-top: 22px;
    margin: 0px;
    font-family: MontserratSemibold;
    font-size: 15px;
    color: #303030;
     line-height: 1.3;

    }
    .promotion-banner{
      padding-top: 55px;

    }
    .img-play{
      padding: 0px;
    }
    
  .img-banner-recipes{
    width: 100%
  }
  .img-banner{
  position: relative;
  left: 0px;
      top: 0px;
      z-index: -1;


  }
  .section-recipes{
    
    padding-left: 15px;
    padding-right: 15px;

  }
  .blog{
  background-color: #fff;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  }
  .blog:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0,.2);
  }

  .description-blog{
    font-size: 13px;
        line-height: 1.5;
        margin-bottom: 40px;

  }
  .title-blog{

    font-family: MontserratSemibold;
    font-size: 16px;
    color: #303030;
     line-height: 1.3;
  }
  .title-blog-ss{
    padding-bottom: 10px;
  }

  .img-background{
    background-image: url('../img/new-recipes.png'); 
    width:100%;
    height: 100%;
    background-position: top center;
     background-repeat: no-repeat;

  }
  .img-background2{

    background-image: url('../img/topical-recipes.png'); 
    width:100%;
    height: 100%;
    background-position: top center;
     background-repeat: no-repeat;

  }
  .second-row{
    margin-top: 60px;
    margin-bottom: 10px;
  }
  .pagination li a{
    
    padding-left: 20px;
    padding-right: 20px;
    margin: 8px;
    background-color: transparent;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: none;
    color: #231f1f;
   font-family: MontserratBold;
   margin-bottom: 50px;

  }

  .effect  li a:hover{
    color: #000;
    background-color: #fffaf1;
  }
      
  .effect  li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fbb53b;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
   .effect  li a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .effect>.active>a:focus, .effect>.active>a:hover, .effect>.active>span, .effect.active>span:focus, .effect>.active>span:hover{
    
  visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    background-color: #fffaf1;
   font-family: MontserratBold;
   color: #231f1f;

  }
  .pagination>.active>a{
   
    background-color: #fbb53b;

  }
  .effect2::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #f9b44a;
    transition: width .5s;
  }
  .effect2:hover::after {
    width: 100%;}
    .inline-block
    {display: inline-block}

  .blog-thumbnail{
       margin-bottom:20px;
       margin-left: 0px;

  }
  .img-ss{max-width: 100%;
  vertical-align: middle;
  border: 0;}
  .img-thumbnail{
    padding: 0px;
        border-radius: 2px;
            border: none;
            border-top-left-radius:8px;
            border-top-right-radius:8px;

  }
  .content-blog{
    padding-left: 15px;
    padding-right: 15px;
  }
  .btn-seemore{
    margin-top: 50px ;
    margin-bottom: 80px ;
    background-color: transparent;
    border: none;
  }



  .btn-seemore a{
    color: #231f1f;
   font-family: MontserratBold;

  }

  .title-cate-footer{
    font-family: MontserratBold;
     text-transform: uppercase;
     color: #161615;
     margin-bottom: -10px; 
     letter-spacing: 2px;

  }
  .list-cate-footer p a{
    font-family: MontserratRegular;
    color: #3e3c3c;
    font-size: 13px;
    padding: 0px;
  }
  .list-cate-footer p a:hover{
   
    color: #fbb53b;
  }
  .list-cate-footer p {
    margin: 5px;
  }
  .cate-footer{
    margin-bottom:60px; 
  }
  .background-footer{

    background-image: url('../img/footer.png'); 
    width:100%;
    
    background-position: right top;
     background-repeat: no-repeat;

  }
  .background-newsletter-footer{

    background-image: url('../img/newsletter.png'); 
    width:100%;
    
    background-position: center
     background-repeat: no-repeat;
     height: 100px;

  }
  .img-background3{

    background-image: url('../img/banner-play.png'); 
    width:100%;
        background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    
     
   }

  .footer{
    margin-top:80px;
    margin-bottom: 30px;
  }
  .copyright{
    padding: 10px 0px 5px 0px;
  }
  .copyright p {
    
    text-align: center;
        margin: 5px 0 10px;

  }
  .copyright p span a{
    color: #fbb53b;
    font-family: MontserratSemibold;
  }
  .newsletter_title {
    color: #fff;
    font-family: pacifico;
    font-size: 35px;
    vertical-align: middle;
  line-height: 90px; 
  }
  .input_newsletter{
    background-color: transparent;
    color: #fff0da;
    font-family: MontserratRegular;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid #ffeacb;
    width:100%;
  }
  .newsletter-form{
    width: 100%;
        margin-top: 36px;
  }
  .pull-right{
    margin-top: 20px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.10);
  }




  .btn-newsletter{
    background-color: #fff;
    font-size: 14px;
    font-family: MontserratBold;
    letter-spacing: 4px;
    color: #fbb53b;
    padding: 18px 80px 18px 80px;
    border: none;
  }
 /* .btn-newsletter:hover{
    color: #fff;
    background-color:#fbb53b;
    border: 2px solid #fff; 
  }*/
   .btn-newsletter::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;

  background-color:#f9b44a;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scale(0.5, 1);
  transform: scale(0.5, 1);
}

.btn-newsletter a{
    z-index:2;
  position:relative;
  color:#f9b44a;
}
.btn-newsletter:hover a{
   color: #fff;
}
 .btn-newsletter:hover::before{
  border:2px solid #fff; 
  color: #fff;
  opacity: 3;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

  input:focus{
    outline: none;
    font-size: 18px;
}
  .input_newsletter::-webkit-input-placeholder { /* Chrome */
    color: #ffe7c2;
    font-family: MontserratRegular;
  }
  .input_newsletter:-ms-input-placeholder { /* IE 10+ */
    color: #ffe7c2;
    font-family: MontserratRegular;
  }
  .input_newsletter::-moz-placeholder { /* Firefox 19+ */
    color: #ffe7c2;
    opacity: 1;
    font-family: MontserratRegular;
  }
  .input_newsletter:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffe7c2;
    opacity: 1;
    font-family: MontserratRegular;
  }
  .follow-us{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-family: MontserratBold;
    font-size: 13px;
    color: #1c1a1a;

  }
  .social-icons{
    float: left;
    margin: -16px 16px 0;
    list-style: none;
    font-size: 30px;
    text-align: center;
  }
  .social-icons li a{
    
    color: #1c1a1a;
  }
  .social-icons li{
    float: left;
    margin-right: 20px;
    color: #7c7c7c;
  }
  .social-icons li a:hover{
    color: #f8b042;
  }
  .btn-appstore{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 50px;
    padding-left: 30px;
  }
  .padding-20{

    padding-right: 20px;
  }
  .menu{
    padding-right: 35px;
  }
  










    
