@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=vietnamese');
@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=vietnamese');
:root {
  --blue: #818181;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #d9534f;
  --orange: #f0ad4e;
  --yellow: #f0ad4e;
  --green: #5cb85c;
  --teal: #20c997;
  --cyan: #5bc0de;
  --white: #fff;
  --gray: #868e96;
  --gray-dark: #343a40;
  --primary: #818181;
  --secondary: #4E5D6C;
  --success: #5cb85c;
  --info: #5bc0de;
  --warning: #f0ad4e;
  --danger: #d9534f;
  --light: #8d9dad;
  --dark: #4E5D6C;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Montserrat" , "Pacifico", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Montserrat", "Pacifico",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #818181;
  text-align: left;
    background-color: #fffcf6;
}
body {
  /*min-height: 2000px;*/
  padding-top: 70px;
}
a{
    font-family: "Montserrat";
}
a:focus, a:hover{
    text-decoration: none;
}
.reset-padding-l-r{
    padding-left: 0;padding-right: 0;
}
.padding20{
    padding: 20px;
}
.padding-l35{
    padding-left: 35px;
}
.margin-t100{
    margin-top: 100px;
}
.margin-t70{
    margin-top: 70px;
}
.margin-t50{
    margin-top: 50px;
}
.margin-t-b-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
[class^="icontasteshare-"], [class*="icontasteshare-"] {
    background-image: url(../images/icon.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
}
/**
 * Header
 */
.navbar {
    min-height: 70px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.navbar-brand{
    height: auto;
}
.navbar-default{
    background-color: #fff;
}
.navbar-nav {
    margin: 0.5px -15px;
}
.navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #5e5d5d;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    font-size: 14px;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #5e5d5d;
    background:none;
    font-size: 14px;
}
.navbar-default .navbar-nav>li.button>a{
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-default .navbar-nav>li.button>a:focus, .navbar-default .navbar-nav>li.button>a:hover {
    border:none;
}


li.search{
    padding: 10px 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #f9b44a;
    text-align: center;
    background-color: #f9b44a;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 540px;
}
.btn-user-recipe{
    background-color: transparent;
    color: #5e5d5d;
    padding: 5px 15px;
}

.btn-primary:hover {
    background: none;
}
.search{
    position: relative;
}
.search-input{
    outline: none;
    line-height: 1;
    min-width: 17rem;
    border: none;
        height: 35px;
    border-radius: 30px;
    
    /*border: 1px solid #fbb53b;*/
    background-color: #f6f5f5;
}
/**
 * End Header
 */
/**
 * Slider
 */

/**
 * Footer
 */

.footer .background-img-footer-b1{
    background-image: url(../images/banner-play.png);
    width: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .background-img-footer-b1 .frame{
    min-height: 350px;
    padding-bottom: 0;
    padding-top: 220px;
}
.footer .background-img-footer-b1 .frame .icon-appstore{
    margin-top: 50px;
}

.footer .background-img-footer-b2{
    background-image: url(../images/footer.png);
    width: 100%;
    background-position: top right;
    background-repeat: no-repeat;
}
/*.footer .background-img-footer-b2 .top{
    margin: 10px 0;
}*/
.container .top{
    /*padding-top: 70px;*/
        display: inline-block;
}
.footer h1.title, .container .top h1.title{
    font-size: 36px;
    color: #fbb53b;;
    font-family: Pacifico;
    margin-top: 0;
    margin-bottom: 20px;
}
.footer h2.des, .container .top h2.des{
    font-size: 14px;
    line-height: 1.6;
    color: #161615;
    font-weight:600;
    letter-spacing: 4px;
}
.footer .background-img-footer-b2 .top .category h3, .footer-bottom h3{
    text-transform: uppercase;
    color: #161615;
    font-size: 14px;
    font-weight: 600;

}

.category .list-group .list-group-item, .footer-bottom .list-group .list-group-item{
    border-left-width: 0;
    border-right-width: 0;
    border:none;
    padding-left: 0;
    background: none;
    padding-bottom: 6px;
    padding-top: 6px;
}
.category .list-group .list-group-item:last-of-type,  .footer-bottom .list-group .list-group-item:last-of-type{
    border-bottom-width: 0;
}
.category .list-group .list-group-item:first-of-type, .footer-bottom .list-group .list-group-item:first-of-type{
    border-top-width: 0;
}
.category .list-group .list-group-item a, .footer-bottom .list-group .list-group-item a{
    color: #3e3c3c;
    font-size: 13px;
    padding: 0px;
}
.category .list-group .list-group-item a:focus, .category .list-group .list-group-item a:hover, .footer-bottom  .list-group .list-group-item a:focus, .footer-bottom  .list-group .list-group-item a:hover{
    color: #fbb53b;
}
.footer .background-img-footer-b3{
    background-image: url(../images/newsletter.png);
    /*background-repeat: repeat-x;*/
}
.newsletter_title{
    padding-left: 0;
}

.newsletter_title h4 {
    color: #fff;
    font-family: Pacifico;
    font-size: 35px;
    vertical-align: middle;
}
.email-newsletter{
    background-color: transparent;
    color: #fff0da;
    font-size: 13px;
    border: none;
    border-bottom: 2px solid #ffeacb;
    height: 34px;
    padding: 0;
    width: 100%;
    outline: none;
}
.email-newsletter::-webkit-input-placeholder { /* Chrome */
    color: #ffe7c2;
  }
.email-newsletter:-ms-input-placeholder { /* IE 10+ */
    color: #ffe7c2;
  }
.email-newsletter::-moz-placeholder { /* Firefox 19+ */
    color: #ffe7c2;
    opacity: 1;
  }
.email-newsletter:-moz-placeholder { /* Firefox 4 - 18 */
    color: #ffe7c2;
    opacity: 1;
}
hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #d0d0d0;
    
     
}
.btn-newsletter {
    background-color: #fff;
    font-size: 14px;
    letter-spacing: 4px;
    color: #fbb53b;
    border: none;
    max-height: 50px;
    font-weight: 500;
    max-width: 260px;
    padding: 14px 70px 14px 70px;
}
.btn-newsletter:hover {
    color: #3e3c3c;
}
.follow-us {
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 13px;
    color: #3e3c3c;
    font-weight: bolder; 
}
.social-icons a {
    color: #1c1a1a;
    font-size: 25px;
    padding: 5px 10px;
}
.social-icons a:hover{
    color: #fbb53b;
}
.footer-bottom h3{
    font-weight: bold;
}
.footer-bottom .list-group .list-group-item a{
    font-size: 13px;
}
.hr-footer {
    margin: 0px;
    border-top: 1px solid #dfdfdf;
    padding: 0;
}
.copyright {
    padding: 10px 0px 5px 0px;
}
.copyright p {
    text-align: center;
    margin: 5px 0 10px;
}
.copyright p span a {
    color: #fbb53b;
    
}
.padding-b20{
    padding-bottom: 20px;
}
/**
 * End footer
 */
/*.container .bottom{
    margin-top: 20px;
}*/
.container .bottom a{
    color: #fff;
}
.container .bottom .text{
    display: inline-block;
    width: 40px;
    font-size: 17px;
    margin-left: 25px;
    /*padding-top: 14px;
    padding-bottom: 14px;*/
}
.bg-morning{
    background-color: #f8b042;
    padding: 12px;
    border: 1px solid #f8b042;
    border-radius: 5px;
}
.bg-pizza{
    background-color: #fb7f3b;
    padding: 12px;
    border: 1px solid #fb7f3b;
    border-radius: 5px;
}
.bg-sweetcake{
    background-color: #f75982;
    padding: 12px;
    border: 1px solid #f75982;
    border-radius: 5px;
}
.bg-snacks{
    background-color: #fc5c50;
    padding: 12px;
    border: 1px solid #fc5c50;
    border-radius: 5px;
}
.icontasteshare-morning{
    background-position: -10px -15px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}
.ico_home{
    width:10px;
}
.icontasteshare-pizza{
    background-position: -100px -15px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.icontasteshare-sweetcake{
    background-position: -197px -20px;
    display: inline-block;
    width: 86px;
    height: 80px;
    border-radius: 8px;
}
.icontasteshare-snacks{
    background-position: -286px -20px;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

.margin-t50 {
    margin-top: 50px;}
.padding-t100{
    padding-top: 100px;
}
.margin-b80{
    margin-bottom: 80px;
}
.margin-b40{
        margin-bottom: 40px;
}
.margin-t10{
    margin-top: 10px;
}
.padding-b20{
    padding-bottom: 20px;
}
.recipe_category .category div a{
    text-transform: uppercase;
    color: #1f1b1b;
    font-size: 13px;
    font-weight: 500;

}
.info-recipe:hover a{
    text-decoration-line: underline;


}
.play-icon i {
    position: relative;
    left: 2px;
}
.play-icon{
        background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 150px;
    text-align: center;
    width: 52px;
    height: 52px;
    line-height: 52px;
    margin-top: -32px;
    margin-left: -26px;
    border: 4px solid rgba(255,255,255, 0.45);
    color: #ffffff;
        box-sizing: content-box;
}
.play-icon:hover{
        border: 5px solid rgba(255,255,255, 0.6);
}
.progression-studios-feaured-image{
    position: relative;
}
.progression-studios-feaured-image img:hover{
    opacity: 0.8;
}
.play-icon .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    
}
.recipe_category .category div a:hover{
    color: #fbb53b;
}

.recipe_category .category div a:hover span, .recipe_category .category div a:focus span, .recipe_category .category div a span{
    border-bottom: 2px solid #fbb53b;
}
.hide-s{
    color: #fffaf1;
}
/**
 * New Recipe For You
 */
.new_recipe_for_you .bg-top, .topical_recipe .bg-top{
    /*background-image: url(../images/new-recipes.png);
    background-repeat: no-repeat;
    min-height: 351px;
    background-size: contain;
    background-position: top center;*/
    padding-left: 15px;
    padding-right: 15px;
}
.topical_recipe .bg-top{
    /*background-image: url(../images/topical-recipes.png);
    background-repeat: no-repeat;
    min-height: 351px;
    background-size: contain;
    background-position: top center;*/
}
.new_recipe_for_you .bg-top .images, .topical_recipe .bg-top .images{
    margin-bottom: 30px;
}
.new_recipe_for_you .content, .topical_recipe .content{
    /*padding-left: 10px;
    padding-right: 10px;*/
    /*padding-top: 22%;*/
}
.new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe{
    padding:5px 0;
    min-height: 120px;
}
.new_recipe_for_you .content .info-recipe a.name-recipe, .topical_recipe .content .info-recipe a.name-recipe{
    color: #303030;
    font-size: 15px;
        font-weight: 600;
        letter-spacing:1.5px;
}
.content .info-recipe a:hover, .content .info-recipe a:focus{
    color: #fb7f3b;
}
/**
 * pagination
 */
 .pagination{
    margin-top:60px; 
 }
.pagination>li>a, .pagination>li>span {
    border: none;
    background: none;
        padding: 6px 20px;
            font-size: 15px;
            color: #231f1f;
    font-weight: 600;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    cursor: default;
    color: #303030;
    background: none;
    border-bottom: 2px solid #fbb53b;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    border-bottom: 2px solid #fbb53b;
    background: none;
    color: #303030;
}
.pagination>li:last-child>a:hover, .pagination>li:first-child>a:hover {
    border-bottom: 2px solid #fbb53b;
    background: none;
    color: #303030;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    color: #8b8b8b;
    cursor: not-allowed;
    background-color: #e7e4de;
    border-color: transparent;

}

/*Blogs*/

.blogs .blog{
    background-color: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 10px;
    margin-bottom: 20px;
}
.blogs .blog .blog-thumbnail{
    margin-bottom: 20px;
}

.img-thumbnail {
    padding: 0px;
    border-radius: 2px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.content-blog {
    padding-left: 15px;
    padding-right: 15px;
}
.title-blog-ss {
    padding-bottom: 10px;
}
.content-blog .title-blog-ss a:hover{
    color: #fb7f3b;
}
.title-blog {
    font-size: 16px;
    color: #303030;
    line-height: 1.3;
    font-weight: 500;
}
.description-blog {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 400;
}
.see_more{
    text-transform: uppercase;
    font-weight: 500;
    color: #303030;
}
a.see_more:hover{
    color: #303030;
    border-bottom: 2px solid #fbb53b;
}
/*.info-recipe .description{
    min-height: 95px;
}*/
/**
* Dung
*
*/
.suggestion-section {
    margin-bottom: 15px;
    display: inherit;
    width: 100%;
}
.img-suggestion {
    float: left;
    margin-right: 10px;
    width: 100px;
}
.suggestion-section img:hover{
    opacity: 0.8;
}
.video_thumb{
  position: relative;
}
/*.video_thumb img:hover{

    opacity: 0.8;

}*/
.video_thumb:before {
    content: "";
    background: url(../images/play.png) no-repeat center;
    width: 100%;
    height: 100%;
    background-size: 23%;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.video_thumb:hover{
    opacity: 0.8;
}
.video_thumb_suggest:before{
        content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: url(../images/play.png) no-repeat center;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    z-index: 10;
}

.suggestion {
    padding-top: 0px;
    padding-bottom: 0px;
    letter-spacing: 1;
    padding-bottom: 30px;
    /*padding-top: 22px;*/
    margin: 0px;
    font-size: 14px;
    color: #303030;
    line-height: 1.3;
        font-weight: 600;
}
a.suggestion:hover{
    color: #fbb53b;
}
.padding-l15{
    padding-left: 15px;
}
.padding-b10{
    padding-bottom: 10px;
}
.description {
    font-size: 13px;
    line-height: 1.5;
}
.footer-section h3, .footer-section h3 a{
    font-size: 15px;
    color: #161615;
    font-weight: 600;
}
.ico_size{
    width:20px;
}
/*
Blogs
 */
/*
Blogs
 */
.blog h3{
    color: #201c1c;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 20px;
    margin-top: -1px;
    font-weight: 600;
    margin-top: 10px;
}
.blog p{font-size: 13px;
    color: #838383;
}
.blog{
    background-color: #fff;
    min-height: 235px;
  }
.content-blogs{
    border-left: 1px solid #acacac;
    border-bottom: 1px solid #acacac;
    border-right: 1px solid #acacac;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px 25px 30px 25px;
    min-height: 235px;
}
.thumnail-blog img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-width: 100%;
    height: auto;
}
.img-blogs{
    min-height: 263px;
    margin: 0 auto;
}
.blog a{
    color: #201c1c;
    font-weight: 500px;
}
.blog a:hover{
    color: #fbb53b;
}
.blog-panel{
    margin-bottom: 30px;
}

.date-blog{
    display: table-cell;
}
.navbar-toggle{
    border:none;
    height: 60px;
    width: 40px;
    padding: 21px 0;
}

.navbar-toggle .icon-bar{
    width: 25px;
    background-color: #878787;
    display: block;
    height: 4px;
    border-radius: 3px;
    

}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
    color: #fbb53b;
    }

@media (max-width: 575px) {
    .content-blogs{
        border: none;
    }
    .right-side{
  border-left: none;
  

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding-bottom: 50px;
        padding-top: 50px;
}
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .navbar-default .navbar-nav>li>a{
        font-size: 12px;
    }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        font-size: 12px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        font-size: 12px;
    }
    .reset-padding-l-r{
        padding-left: 0;
        padding-right: 0;
    }
    .right-side{
  border-left: none;
  

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding-bottom: 50px;
        padding-top: 50px;
}
    .blog {
        background: none;
            text-align: center;
    }
    .img-blogs {
        min-height: 263px;
        display: inline-block;
    }
    .content-blogs{
        border:none;
    }
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav>li>a{
        color: #fff;
        font-size: 20px;
    }
    .right-side{
  border-left: none;
  

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding-bottom: 50px;
         padding-top: 50px;
}
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        font-size: 20px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        font-size: 20px;
    }
    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
        background: none;
    }
    li.search div{
        width: 50%;
        text-align: center;
        margin: 0 auto;
        position: relative;
    }
    .dropdown-menu{
        text-align: center;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffe2b5;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
    }
    .btn-warning:hover {
        color: #fff;
        background-color: #f9b44a;
        border-color: #fff;
    }
    .btn-user{
        background: none;
        color: #fff;
        border-color: #fff;
        width: 110px;
    }

    /**
     * Footer
     */
    .footer .background-img-footer-b1{
        background-position: 37% 0;
    }
    .newsletter_title h4{
        /*font-size: 27px;*/
    }
    .btn-newsletter {
        padding: 14px 10px 14px 10px;
        font-size: 12px;
    }
    .reset-paddingl{
        padding-left: 0;
    }
    .reset-padding20{
        padding: 0;
    }
    .reset-paddingt{
        padding-top: 0;
    }
    .paddingbotom20 {
        padding-bottom: 20px;
    }
    .reset-padding-l-r{
        padding-left: 0;
        padding-right: 0;
    }


    .top .img{
        display: none;
    }
    .new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
        min-height: 220px;
    }

}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .navbar-nav {
           margin: 15px 0;
    }
    .right-side{
  border-left: none;
  

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
        padding-bottom: 0px;
        padding-top: 0px;
}
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        border-bottom: 2px solid #f9b44a;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        border-bottom: 2px solid #f9b44a;
    }

    .navbar-nav>li>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-nav {
        margin: 15px 0;
    }
    li.search{
        display: none;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        background: none;
    }
    .reset-paddingl{
        padding-left: 0;
    }
    .reset-paddingt{
        padding-top: 0;
    }
    .reset-paddingb{
        padding-bottom: 0;
    }
    .paddingbotom20{
        padding-bottom: 20px;
    }

    .top .img{
        display: none;
    }
    .new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
        min-height: 180px;
    }
    .blog{
        background-color: #fff;
        min-height: 235px;
        text-align: left;
    }
    .content-blogs{
        border-left: 1px solid #acacac;
        border-bottom: 1px solid #acacac;
        border-right: 1px solid #acacac;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        padding: 10px 25px 30px 25px;
        min-height: 235px;
    }
}



@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .right-side{
  border-left: 1px solid #ffd68e;
  

}
  .navbar-default .navbar-nav>li>a{
        font-size: 13px;
    }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        font-size: 13px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        font-size: 13px;
    }
    li.search{
        display: block;
    }
    .newsletter_title h4{
        font-size: 30px;
    }
    .reset-paddingl{
        padding-left: 0;
    }
    .reset-paddingt{
        padding: 20px;
    }
    .new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
        min-height: 140px;
    }

}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .right-side{
  border-left: 1px solid #ffd68e;
  

}
  .navbar-default .navbar-nav>li>a{
        font-size: 14px;
    }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
        font-size: 14px;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
        font-size: 14px;
    }
    li.search{
        display: block;
        margin-right: 20px;
    }
    .search-input {
        min-width: 28rem;
    }
    .newsletter_title h4{
        font-size: 35px;
    }
    .reset-paddingl{
        padding-left: 0;
    }
    .reset-paddingt{
        padding: 20px;
    }
    .top .img{
        display: block;
    }
    .new_recipe_for_you .content .info-recipe, .topical_recipe .content .info-recipe {
        min-height: 170px;
    }
}







.navbar-toggle{
    margin-top: 15px;
}

.navbar-nav-scroll .navbar-nav>li.active{
    border-bottom: 2px solid #f9b44a;
}
.navbar-nav-scroll .navbar-nav>li:hover{
    border-bottom: 2px solid #f9b44a
}
.bd-navbar .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.d-margin-t-b-5{
    margin:5px 0;
}


.f-search{
    color: #fbb53b;
}


.btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: none;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.search-input+.btn {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-search{
    background: none;
    border: none;
}
.btn-action .btn-user{
    background-color: #fff;
}
a.btn-user{
    color: #5e5d5d;
}
